---

---

<div class="h-screen w-screen" id="containerThreejs"></div>

<script>

	import Sketch from './ThreeAstro.js';
	new Sketch({ domElement: document.getElementById('containerThreejs') });
	
</script>

<style>
	.h-screen {
		height: 200px;
	}
	.w-screen {
		width: 100%;
	}
</style>

